/* TODO Add site wide styles */

/* Utility classes */

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.site-button {
  border-radius: 10px;
}

/* Global styles */

body {
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: 25px;
}

h3 {}


h4 {}

h5 {}

h6 {}
