.profile-dropdown {
  margin-top: 29px;
  margin-right: 29px;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 10vw;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, .2);
  transition: all 0.3s ease-out;
  transform: translateY(0);
  max-width: 300px;
  border-color: var(--lightgray);
}

.profile-dropdown.hidden {
  transition: all 0.3s ease-out;
  opacity: 0;
  transform: translateY(-5%);
  pointer-events: none;
}

.profile-dropdown li {
  cursor: pointer;
  transition: background 0.2s ease-out, color 0.2s ease-out;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.profile-dropdown a {
  text-decoration: none;
  color: black;
}

.profile-dropdown li:first-child {
  cursor: default;
}

.profile-dropdown nav {
  display: flex;
  flex-direction: column;
}

.sign-in-login-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.sign-in-login-button button {
  cursor: pointer;
  transition: background 0.2s ease-out, color 0.2s ease-out;
  font-size: 1rem;
  margin: 5px 0;
}

.nav-bar-log-out-button {
  cursor: pointer;
  transition: background 0.2s ease-out, color 0.2s ease-out;
  font-size: 1rem;
}

/* .profile-dropdown {
  position: absolute;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  border: lightgray solid 1px;
} */

.hidden {
  display: none !important;
}


.site-nav {
  background: var(--darkblue);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 98;

}

.navigationBellNumber {
  color: white;
  font-size: 15px;
  margin-left: 3px;
}

.fas,
.fa-user-circle {
  font-size: 24px;
  color: white;
  padding-left: 20px;
}

.fa-solid.fa-bell {
  color: white;
  font-size: 22px;
  padding-left: 20px;
}

.site-nav .nav-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
}


.nav-home-button {
  color: white;
  font-size: 20px;
  white-space: nowrap;
  width: 100%;
  padding-right: 20px;
}

.nav-bar-rightside-container {
  display: flex;
  padding-right: 30px
}

.nav-bar-bell-and-num {
  display: flex;
}

.nav-search-bar {
  border-radius: 15px;
  padding: 15px;
  height: 30px;
  /* width: 95%; */
  /* Trying to get rid of white space between -anton */
  width: 100%;
}

.nav-search {
  display: flex;
  justify-content: center;
  /* width: 75%; */
  /* Trying to get rid of white space between -anton */
  width: 100%;
}
