.profileImageAndFirstNameAndFriends {
  display: flex
}



.profileAndEdit {
  display: flex;
  justify-content: space-between;
}

.profileBiosContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;

}

.otherUsersScheduleContainer {
  width: 50%;
  text-align: left;
}

.currentUsersBio {
  width: 50%;
  text-align: left;

}

.otherUserProfilePictureAndDetails {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.friendNameAndSchedule {
  display: flex;
  flex-direction: column;
  margin-left: 20px;

}

.schedulingDeleteAndEditButtonContainer {
  display: flex;
  flex-direction: row-reverse;

}

.schedulingDeleteButton {
  padding-left: 10px;
}

.currentUsersScheduleContainer {
  padding-top: 7%;
  position: relative;
  z-index: 1;
}


#modal-content .editSchedulingForm {
  align-items: normal;
}


/* .editSchedulingForm label {
  padding-top: 10px;
} */
