.profileImageAndFirstNameAndFriends {
  display: flex
}



.profileAndEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: var(--blue) solid 5px;
  margin: 5px;
}

.profileBiosContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;

}

.otherUsersScheduleContainer {
  width: 50%;
  text-align: left;
}

.currentUsersBio {
  width: 50%;
  text-align: left;

}

.otherUserProfilePictureAndDetails {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.friendNameAndSchedule {
  display: flex;
  flex-direction: column;
  margin-left: 20px;

}

.deleteAndEditProfileButtons {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.editProfileButton {
  border: var(--gray) solid 3px;
  background-color: var(--blue);
  margin-top: 5px;
  border-radius: 4px;
}

.editProfileButton button {
  color: white;
  padding: 5px;
}

.userAccountDeleteButton {
  border: var(--gray) solid 3px;
  background-color: var(--blue);
  border-radius: 4px;
  margin-bottom: 5px;
}

.userAccountDeleteButton button {
  color: white;
  padding: 5px;
}

.schedulingDeleteAndEditButtonContainer {
  display: flex;
  flex-direction: row-reverse;

}

.schedulingDeleteButton {
  padding-left: 10px;
}

.currentUsersScheduleContainer {
  padding-top: 70px;
  position: relative;
  z-index: 1;
}


#modal-content .editSchedulingForm {
  align-items: normal;
}


/* .editSchedulingForm label {
  padding-top: 10px;
} */
